# your statsd server to deliver
statsd_host: 127.0.0.1 
statsd_port: 8125

#send metrics also to stdout (for debugging/testing)
stdout: False

namespace_prefix: localhost

logfile: statsd-agent.log

#write results also to stdout (for testing/debugging)
stdout: False

# Update interval in seconds, default is 10s
update_interval: 10


plugins:
  # all plugins are located in the plugins folder
  # to develop your own plugin, use the skeleton plugin
  # execute a plugin directly from the plugin directory to see possible configuration parameters and some output,
  # i.E.
  # ./plugins/disk.py -h
  # 
  # misconfigured plugins or plugins with missing parameters will not run, but write a message to the log file

  - namespace: system.memory
    plugin: memory

  - namespace: system.disk.root 
    plugin: disk
    mountpoint: /

  # example for a second disk
  - namespace: system.disk.home 
    plugin: disk
    mountpoint: /home

  - namespace: system.processes
    plugin: procs
