# your statsd server to deliver
statsd_host: localhost 
statsd_port: 8125

app_name: statsd-agent
# 
namespace_prefix: localhost

logfile: statsd-agent.log

pidfile: /tmp/statsd-agent.pid

#write results also to stdout (for testing/debugging)
stdout: True

# Update interval in seconds, default is 10s
update_interval: 10

plugins:
  # all plugins are located in the plugins folder
  # to develop your own plugin, use the skeleton plugin
  # execute a plugin directly from the plugin directory to see possible configuration parameters,
  # i.E.
  # ./plugins/disk.py -h
  # 
  # misconfigured plugins or plugins with missing parameters will not run, but write a message to stdout and to the log file

  - plugin: memory
    namespace: system.memory

  - plugin:  disk
    namespace: system.disk.root

  # example for a second disk
  - plugin:  disk
    namespace: system.disk.home
    mountpoint: /home

  - plugin: processes
    namespace: system.processes
